In [1]:
select top 10 *
from jobs
order by jobid desc

In [7]:
update Jobs
set EngagementTypeId = 1
where jobid = 259047

In [3]:
select * from jobs
where EngagementTypeId is null

In [5]:
ALTER TABLE
  jobs
ALTER COLUMN
  EngagementTypeId
    int NOT NULL;

In [9]:
SELECT top 100 * FROM jobs
  FOR SYSTEM_TIME
    BETWEEN '2014-01-01 00:00:00.0000000' AND '2019-12-31 00:00:00.0000000'